DATABASE_URL=postgresql://postgres@postgres/market_access

SENTRY_DSN=
AUTHBROKER_URL=
AUTHBROKER_CLIENT_ID=
AUTHBROKER_CLIENT_SECRET=

SECRET_KEY=

POSTGRES_URL=tcp://postgres:5432
DATAHUB_SECRET=secret
DEBUG=True

DH_METADATA_URL=
FAKE_METADATA=False


DJANGO_SECRET_KEY=changeme
DJANGO_SETTINGS_MODULE=config.settings.local

REDIS_BASE_URL=redis://redis:6379
AWS_DEFAULT_REGION=eu-west-2
AWS_ACCESS_KEY_ID=foo
AWS_SECRET_ACCESS_KEY=bar
DEFAULT_BUCKET=baz
SSO_ENABLED=True

RESOURCE_SERVER_INTROSPECTION_URL=http://sso/o/introspect/
RESOURCE_SERVER_AUTH_TOKEN=sso-token

HAWK_ENABLED=True
HAWK_KEY=not_the_real_key
HAWK_ID=metadata

RESTRICT_ADMIN=False
