[tool.poetry]
name = "market-access-python-frontend"
version = "0.1.0"
description = "Hello"
authors = ["Ferenc Csepregi <feri@31.digital>"]

[tool.poetry.dependencies]
python = "^3.7"
boto3 = "==1.14.54"
celery = "==4.4.5"
dj-database-url = "==0.5.0"
Django = "==3.1.1"
django-celery-beat = "2.0.0"
django-environ = "==0.4.5"
django-extensions = "==2.2.9"
django-filter = "==2.4.0"
django-model-utils = "==3.1.2"
django-oauth-toolkit = "==1.3.2"
django-ordered-model = "==3.4.1"
django-pglocks = "==1.0.4"
django-redis = "==4.12.1"
django-simple-history = "==2.10.0"
django-staff-sso-client = "==3.0.0"
djangorestframework = "==3.11.1"
elastic-apm = "==5.6.0"
gevent = "==20.5.1"
gunicorn = "==20.0.4"
hawkrest = "==1.0.1"
notifications-python-client = "5.5.1"
psycopg2-binary = "==2.7.5"
python-json-logger = "==0.1.10"
raven = "==6.9.0"
requests-toolbelt = "==0.8.0"
sentry-sdk = "==0.14.4"
URLObject = "==2.4.3"
whitenoise = "==5.1.0"
django-log-formatter-ecs = "==0.0.2"

[tool.poetry.dev-dependencies]
black = "~=19.10b0"
boto3-stubs = "~=1.15.0.0"
factory-boy = "~=2.12.0"
flake8 = "~=3.8.2"
freezegun = "~=0.3.11"
ipython = "~=7.14.0"
mock = "~=4.0.1"
moto = "==1.3.14"
pylint-django = "~=2.0.2"
pytest-cov = "~=2.9.0"
pytest-django = "~=3.9.0"
pytest-xdist = "~=1.32.0"
requests-mock = "~=1.8.0"

[build-system]
requires = ["poetry>=1.0.5"]
build-backend = "poetry.masonry.api"
