boto3==1.9.42
celery==4.3.0
dj-database-url==0.5.0
Django==2.2.10
django-environ==0.4.5
django-extensions==2.2.3
django-filter==2.0.0
django-model-utils==3.1.2
django-oauth-toolkit==1.2.0
django-pglocks==1.0.2
django-redis==4.9.0
django-simple-history==2.4.0
django-staff-sso-client==1.0.0
djangorestframework==3.10.3
gunicorn==19.9.0
hawkrest==1.0.1
psycopg2-binary==2.7.5
raven==6.9.0
redis==2.10.6
requests-toolbelt==0.8.0
URLObject==2.4.3
vine==1.1.4
waitress==1.4.3
whitenoise==4.1.3
